$bg-dark-img: '../images/bg-desktop-dark.jpg';
$bg-light-img: '../images/bg-desktop-light.jpg';
$ffam: 'Josefin Sans', sans-serif;
$fsize: 18px;
$bold: 700;
$norm: 400;
$white: white;
$width-box: 30rem;
$checkclr: linear-gradient(0deg, rgba(192,88,243,1) 14%, rgba(71,218,255,1) 100%);;
$dark:  hsl(235, 21%, 11%);
$dark2:  hsl(235, 24%, 19%);
$light: hsl(0, 0%, 98%);
$light2: hsl(236, 33%, 92%);
$sun: '../images/icon-sun.svg';
$moon: '../images/icon-moon.svg';